#KA {
    height: 25px;
}

#head {
    font-family: 'Times New Roman';
}

#about2 {
    text-align:center; 
    margin-left:5vw;
    margin-right:5vw;
}
.profile-card-5{
    margin-top:20px;
  }
  .profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
  }
  .profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
  }
  .profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
  }
  .profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
  }
  .profile-card-5 p{
    font-size:14px;
    font-weight:300;
  }
  .profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
  }
  .viewvid{
    color:#4E5E30;
    text-decoration: none;

  }
  .box{
    padding: 0% 7%;
  }